<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >CodeRush</a>

        </div>
        <div class="navbar-collapse collapse">
		 
		  <ul class="nav navbar-nav navbar-right">
		    <li>
		      <a><%=myName%></a>
		    </li>
		  </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

<% // TODO: handler code here... %>
<% // Variable 'code' is a char array. %>
<% // You can use code[i] to get each character. %>
<div id="gameLoad">
<h2 class="contest-title">Connecting...</h2>
</div>
<div id="gameStart" class="hidden">
<%
	if(mode=="practice") {
%>
	<h2 class="contest-title">Practice</h2>
<%} else {%>
<h2 class="contest-title" >
	<span style="color:#1abc9c"><%=myName%></span>
	<span style="font-size:29px">VS</span>
	<span style="color:#ecbe06"><%=pairName%></span>
</h2>
<%}%>
<p class="lead">Hint: Press 'Ctrl' to scroll down the page when needed.</p>
</div>

<div class="wrapper">
<div class="contest jumbotron">

<div class="me container code">

<%
var i;
var first = true;
var space = true;
var typing = "typing";
var hasTyped = "hasTyped";
var notTyped = "notTyped";
var wrong = "wrong";
var returnStr = "return";
var totalLetters = code.length;
for (i=0;i<code.length;i++) {

	if (code[i]!='\n') {
		while((code[i]==' '||code[i]=='\t')&&space) {
			if(code[i]==' ') {
				%><span>&nbsp;</span><%
			} else {
				%><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><%
			}
			totalLetters--;
			i++;
		}
		if (code[i]=='/' && code[i+1]=='/') {
			while(code[i]!='\n') {
				%><span class="notes"><%=code[i]%></span><%
				totalLetters--;
				i++;
			}
			%><br/><%
			totalLetters--;
			continue;
		}
		space = false;
		if (first) {
			if (mode=="practice") {
				%><span class="<%=typing%>"><%=code[i]%></span><%
			} else {
				%><span class="<%=typing%> o-typing"><%=code[i]%></span><%
			}
			first = false;			
		} else {
			if (code[i]==' ') {
				%><span class="<%=notTyped%> o-notTyped">&nbsp;</span><%
			} else {
				%><span class="<%=notTyped%> o-notTyped"><%=code[i]%></span><%
			}
		}
		
		
	} else {
		
	
	%><span class="<%=notTyped%> <%=returnStr%> hidden hiddenElement o-notTyped">&crarr;</span><br/><%
	
	space = true;
	}
}
%>


</div>
</div>

<div class='stat-wrapper'>
<div class='stat'>
<table>
	<tr>
		<td>
			Total letters:
		</td>
		<td id='total'>
			<%=totalLetters%>
		</td>
	</tr>

	<tr>
		<td>
			Typed letters:
		</td>
		<td>
			<span id="letter-count">0</span>
		</td>
	</tr>

	<tr class="wrong">
		<td>
			Wrong hits:
		</td>
		<td>
			<span id="wrong">0</span>
		</td>
	</tr>

	<tr>
		<td>
			Time passed:
		</td>
		<td>
			<span id="time">00:00:00</span>
		</td>
	</tr>

</table>
</div>
</div>

</div>
<hr>

      <footer>
        <p>©2014 Daniel Wang and Florrie Cheng. All rights reserved.</p>
      </footer>

<progress max=<%=totalLetters%> value='0' class='prog' id='prog'></progress>

</div>
	<!------------------------ Out of Body --------------------------->

	<!-- Modal finish -->
	<div class="modal fade" id="finishModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" style="margin-top:auto margin-bottom:auto">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel"></h4>
	      </div>
	      <div class="modal-body">
						<table cellspacing="5" style="width:70%; margin:auto">
						<tr>
							<td>Time</td>
							<td id="timeString" ></td>
						</tr>
						<tr><td></td><td></td></tr>
						<tr>
							<td>Speed (Letters per min)</td>
							<td id="speed" ></td>
						</tr>
						<tr><td></td><td></td></tr>
						<tr>
							<td>Wrong hits</td>
							<td id="wrongHits"></td>
						</tr>
						<tr><td></td><td></td></tr>
						</table>
	      </div>
	      <div class="modal-footer">
			<button id="share-button" type="button" class="btn btn-danger" onclick="share()">Share to Renren</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="back()">Back</button>
	        <button id="play_again_btn" type="button" class="btn btn-primary" onclick="tryAgain()">Play Again</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

